body {
    margin: 0;
    height: 100vh;
    display: flex;
    background-color: rgb(87, 87, 87);
    justify-content: center;
    align-items: center;
}


div {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;

}

a {
    text-decoration: none;
    color: #f0ff78;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;

}

.call-button {
    display: none;
    padding: 12px 25px;
    border-radius: 22px;
    border: 1px solid black;
    background: #f0ff78;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
}

.call-button:hover {
    background: #000000;
    color: #f0ff78;


}

@media (max-width: 768px) {

    .call-button {
        display: flex;
    }

    .menu {
        flex-direction: column;
        text-align: center;

    }

    .menu a {
        width: 100%;
        border-bottom: solid #8C8D79;
        padding: 0px 0px 20px 0px;
    }

    body {
        background-color: #1A1A1A;
    }

}